@media (max-width: 735px) {
  body, main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 20px;
  }
}

@media (max-width: 1070px) {

  body, main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 60px;
  }

  /*Parte do Aside*/

  .info {
    margin: 0;
    padding: 0;
    width: 320px;
    height: 100%;
    gap: 20px;
    text-align: center;
  }


  .title {
    font-size: 2rem;
  }

  .description {
    font-size: 16px;
  }

  .card_signup {
    margin: 0;
    padding: 0;
    width: 320px;
    height: 100%;
    gap: 20px;
  }

  .form_container {
    height: 420px;
  }

  /*Botão do Teste*/

  .trial_btn {
    padding: 0 60px;
    width: 320px;
    height: 80px;
  }

  /*Caixas de Texto*/

  .textbox {
    width: 280px;
    height: 40px;
  }

  /*Botão de Submit*/

  .claim_btn {
    width: 280px;
    height: 50px;
  }

  /*Termos e Serviços*/

  .terms {
    font-size: 10px;
    padding: 0 50px;
    text-align: center;
  }


}